.testimonial {
  margin-top: 7%;

  .left {
    h4 {
      width: 126px;
      height: 27px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      text-align: center;
      color: #5e6282;
    }
    h1 {
      width: 511px;
      height: 130px;
      font-family: "Volkhov";
      font-style: normal;
      font-weight: 700;
      font-size: 50px;
      line-height: 64px;
      text-transform: capitalize;
      color: #14183e;
    }
  }

  .right {
    width: 569px;
    height: 356px;
    .rightTest {
      position: relative;
      img {
        position: absolute;
        width: 68px;
        height: 68px;
        border-radius: 50%;
      }

      .quote {
        position: absolute;
        width: 504px;
        height: 245px;
        background: #fff;
        box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
          0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
          0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
          0px 20px 13px rgba(0, 0, 0, 0.01),
          0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
          0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
        border-radius: 10px;
        margin-top: 10%;
        margin-left: 10%;

        p {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 32px;
          color: #5e6282;
        }
        h3 {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 27px;
          color: #5e6282;
          margin-top: 15%;
          margin-left: 4%;
        }
        h5 {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 21px;
          margin-left: 4%;
          color: #5e6282;
        }
      }
    }
  }
 
}

.slider{
  width: 700px !important;
}

@media only screen and (max-width: 768px) {
  .left{
    h4{
      margin-left: 50%;
    }
    h1{
      margin-left: 40%;
      font-size: 35px !important;
    }
  }
  .right{
    margin-left: 20%;
    .quote{
      width: 300px!important;
    }
  }
  
}
