.trip {
  margin-top: 10%;
  .left {
    margin-left: 15%;
    h4 {
      width: 126px;
      height: 27px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      text-align: center;
      color: #5e6282;
    }
    h1 {
      width: 511px;
      height: 130px;
      font-family: "Volkhov";
      font-style: normal;
      font-weight: 700;
      font-size: 50px;
      line-height: 64px;
      text-transform: capitalize;
      color: #14183e;
    }
    .leftDiv {
      display: flex;
      gap: 20px;
      margin-top: 2%;
      img {
        width: 40px;
        height: 40px;
        transform: matrix(-1, 0, 0, 1, 0, 0);
      }
      h3 {
        width: 220px;
        height: 30px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 124.5%;
        color: #5e6282;
      }
      p {
        margin-top: -20px;
        width: 327px;
        height: 40px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 124.5%;
        color: #5e6282;
      }
    }
  }

  .right {
    width: 370px;
    height: 350px;
    border-radius: 24px;


    .rightImg {
      width: 90%;
      height: 50%;
      border-radius: 24px;
    }

    .icon{
      display: flex;
      gap: 5%;
    }
  }
}
@media only screen and (max-width: 1200px){
  .right{
    margin-left: 30%;
  }
}

@media only screen and (max-width: 779px) {
  .trip{
    margin-left: 30%;
    .left{
      margin-left: 10%;
      h1{
        font-size: 30px !important;
        line-height: 40px !important;
      }
      .leftDiv{
        margin-top: -2% !important;
        h3{
          font-size: 17px !important;
        }
        p{
          margin-top: 10px;
          margin-bottom: 50px;
          font-size: 20px;
        }
      }
    }

    .right {
      margin-left: -50px;
      width: 600px !important;
      height: 700px !important;
      border-radius: 24px;
  
  
      .rightImg {
        width: 600px;
        height: 60%;

      }
      .rightText{
        font-size: 40px;
        margin-left: 30px;
      }
  
     img{
      margin-left: 50px;
      margin-top: 10px;
      height: 70px;
      width: 70px;
     }
    }
    
  }
}
